# Ignore all files in the "capturas" directory
capturas01/
capturas02/
capturas03/
capturas*/
*.pcap
capturas01
capturas02
capturas03




# Ignore all document files
resultados.json
resultados.pdf
resultados/


# Ignore all Python files except specific ones
*.py
!PrimerBocetoTFG.py
!Prueba01.py
!Prueba02.py
!BibliotecaTFG.py



# Ignore the following directoris
.venv/
.idea/
__pycache__/
.vscode/
pruebas/